<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site de Ottignies</title>
    <link rel="stylesheet" href="style_principale.css">
</head>
<body>
    <!-- Barre de navigation commune à toute les pages -->
    <nav>
        <!-- Titre du projet -->
        <div class="Titre">
            <h1>Projet prepratoire</h1>
        </div>
        <!-- Lien vers la page principale -->
        <div class="lien-Accueil">
            <a href='/retour' id="lien-Accueil">Accueil</a>
        </div>

        <div class="gauche">
        <!-- Nom de l'utilisateur -->

            <div class="Nom">
                <span><%= username%></span>
            </div>
        </div>
    </nav>
    <!-- Formulaire pour créer un incident en utilisant la route ajout.html  -->
    <p>
    Ajoutez un incident :
        <form action="ajout.html" method="post">
            <p>
                <label>Date :</label>
                <input type="date" name="date">
            </p>
            <p>Adresse:<br>
            <input type="text" name="adresse"><br>
            </p>
            <p>Description:<br>
            <input type="text" name="description"><br>
            </p>
            <input type="submit" value="Submit incident">
          </form>
    </p>
    <!-- Affiche une erreur si un des input n'est pas complété-->
    <p><%= erreur%></p>





</body>