<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site de Ottignies</title>
    <link rel="stylesheet" href="style_principale.css">
</head>
<body>
    <nav>
        <div class="Titre">
            <h1>Projet prepratoire</h1>
        </div>
        

        <div class="gauche">
            <div class="champs-recherche">
                <input type="text" placeholder="Champs de recherche">
            </div>

            <div class="Nom">
                <span>
                    <% if (username) { %>
                        <%= username %>
                    <% } else { %>
                        <a href="page_identification.html" id="lien-ajout">Se connecter / S'inscrire</a>
                    <% } %>
                </span>
            </div>
        </div>
    </nav>

    <section class="lien-jour">
        <div class="lien-ajout">
            <% if (username) { %>
                <a href="/page_creation.html" id="lien-ajout">Lien pour ajouter</a>
            <% } %>
        </div>
        <div class="lien-déconnection">
            <% if (username) { %>
                <a href="/deconnection.html" id="deconnection">Se déconnecter</a>
            <% } %>
        </div>

        <div class="jour">
            <h4>Date : 29/09/2024</h4>
        </div>
    </section>
    <section class="table">
        <table>
            <tbody>
                <tr>
                    <td>Rapporté par</td>
                    <td>Description</td>

                </tr>
                <tr>
                    <td><%= username %></td>
                    <td><%= description %></td>
                </tr>
            </tbody>
        </table>



    </section>
    
</body>
</html>
